.footer li a {
    color: gray;
}
.shop-dropdown li a{
    color: gray;
}
.shop-dropdown li a:hover{
    text-decoration: underline;
}

.sign-up-form{
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 3px;
}

.sign-up-form input,select{
    background: white;
    border: 2px solid rgb(0, 225, 255);
}

.logg-in-form{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.log-in-form input,select{
    background: white;
    border: 2px solid rgb(0, 225, 255);
}